@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:700|Nunito&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column; 
  align-items: center;

  margin: 0;
  padding: 0;
}

header {
  margin: 2vh auto;
}

h1  { 
  margin-top:0;
  padding-top: 0;
}

main {
  display: flex;
  flex-direction: column; 
  align-items: center;

  height: 70vh;
  width: 100vw; 
}

.card {
  display: grid;
  grid-template-columns: 1fr 10rem 1fr;
  /* grid-template-rows: 10rem 5rem 12rem 1fr; */
  grid-template-rows: 10rem 5rem auto min-content;

  margin: auto;
  width: 40ch;

  background-color: #eee;
  box-shadow: 2px 4px 8px #ccc;
}

.background {
  grid-column: 1 / 4;
  grid-row: 1 / 2;

  background-image: url('../assets/river.jpg');
  background-position: center;
}

img {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: end;

  height: 10rem;
  width: 10rem;

  border: .5rem solid #eee;
  border-radius: 50%;
}

article {
  grid-column: 1 / 4;
  grid-row: 3 / 4; 

  text-align: center;
}

h3 {
  font-family: 'Libre Baskerville', serif;
}

p {
  font-family: 'Nunito', sans-serif; 
  /* font-weight: bold; */

  padding: 0 1ch;
}

nav {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-content: center;

  list-style: none;

  padding-top:16px;
  padding-left: 0;

  border-top: 1px solid #ccc;
  color: navy;
}

li:hover {
  color: mediumslateblue;
}
